[Unit]
Description=Dropbox (rclone)
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount dropbox: %h/Dropbox --vfs-cache-mode writes
ExecStop=/bin/fusermount -u %h/Dropbox
Restart=on-failure

[Install]
WantedBy=default.target