[Unit]
Description=Google Drive (rclone)
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount gdrive: %h/Google-Drive --vfs-cache-mode writes
ExecStop=/bin/fusermount -u %h/Google-Drive
Restart=on-failure

[Install]
WantedBy=default.target