[user]
	name = Edward Jazzhands
	email = ed.jazzhands@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	fileMode = false
[init]
	defaultBranch = main

# These below are added by the github CLI app
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
